*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(135deg, #202446, #292a55);
}